body {
    width: auto;
    height: auto;
    margin: 0;
    background-color: #222;

    background-image: 
        linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)),
        linear-gradient(to right, #10553f 0.05rem, transparent 0.01rem),
        linear-gradient(to bottom, #10553f 0.05rem, transparent 0.01rem);
    background-size: 4vh 4vh;
    background-position: center;
    transition-duration: 200ms;
    z-index: -10;

    overflow: hidden;
}



#navBar {
    display: grid;
    grid-template-columns: 1fr auto 1fr; 
    align-items: center;
    width: auto;
    padding-left: 1vw;
    padding-right: 1vw;
    height:8vh;
    background-color: black;
    border-bottom: 0.1vh solid gray;
    border-style: dashed;
}

#hamburgerButton {
    display: none;
}


#navLogo {
    width: 6vh;
    height: 6vh;
}

#navCIF {
    width: 3.2vh;
    height: 3.2vh;
}

#navTwitch {
    width: 3.2vh;
    height: 3.2vh;
}

#navBanner {
    display: none;
}



#center {
    align-items: center;
    display: flex;
    gap: 1.5vw;
}

.hamburger {
    display: none;
}




a:link,
a:visited,
a:hover,
a:active {
    text-decoration: none;
    outline: none;
    border: none;
    color: inherit;
}

a img {
    border: none;
    outline: none;
    text-decoration: none;
}

#mainContent {
    display: none;
}


#dropdownSocials {

}

@media (max-width: 768px) {

    #center {
        margin: 0;
        padding-left: 4vw;
        justify-self: center;
    }

    #navCIF {
        display: none;
    }

    #navTwitch {
        display: none;
    }

    #navLogo {
        display: none;
    }

    #navBanner {
        display: flex;
        width: 18vh;
        min-width: 100px;
    }

    #navBar {
        min-height: 50px;
    }








    #hamburgerButton {
        display: flex;
        width: 4vh;
        height: 4vh;
        justify-self: start; 
    }

    #hamburgerbutton:active {


        
    }

    #hamburgerHolder {
        display: flex;
        background-color: #222;
        height: max-content;
        width: max-content/2;
    }



    #mainContent {
        margin: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 82vh;
        width: fit-content;
        padding: 5vw;
    }

    #mainLogo {
        display: flex;
        width: 30vh;
        height: 30vh;
        min-width: 160px;
        min-height: 160px;
    }

    #mainText {
        display: flex;
        font-family: "Rubik Pixels", system-ui;
        font-style: normal;
        font-weight: 400;
        text-align: center;
        color: white;
        font-size: 2.5vh;
        
    }








}